<f:render partial="Card" arguments="{header: 'FluidTYPO3', color: 'teal'}" contentAs="content">
	<s:form.field name="{s:form.name(name: 'fluidpages')}" label="Use fluidpages" value="{component.fluidpagesActive}" >
		<div class="form-sub repeater">
			<div class="repeater-items">
				<f:for each="{component.fluidpages}" as="page">
					<div class="repeater-item depth-2">
						<div class="repeater-reference-data" data-namespace="{s:form.name(name: 'fluidpages.{page}')}">
							<input type="hidden" name="{s:form.name(name: 'name')}" value="{page}" />
						</div>
						<s:form.field name="{s:form.name(name: 'fluidpages.{page}.name')}" label="Name" class="form-control" value="{page}" />

						<a href="#" class="btn-round btn-round-small repeater-item-remove">
							<i class="material-icons">remove</i>
						</a>
					</div>
				</f:for>
			</div>

			<div class="repeater-item repeater-template depth-2">
				<s:form.field name="{s:form.name(name: 'fluidpages.--id--.name')}" label="Name" value="" />

				<a href="#" class="btn-round btn-round-small repeater-item-remove">
					<i class="material-icons">remove</i>
				</a>
			</div>
		</div>
	</s:form.field>

	<s:form.field name="{s:form.name(name: 'fluidcontent')}" label="Use fluidcontent" value="{component.fluidcontentActive}">
		<div class="form-sub repeater">
			<div class="repeater-items">
				<f:for each="{component.fluidcontent}" as="content">
					<div class="repeater-item depth-2">
						<div class="repeater-reference-data" data-namespace="{s:form.name(name: 'fluidcontent.{content}')}">
							<input type="hidden" name="{s:form.name(name: 'name')}" value="{content}" />
						</div>
						<s:form.field name="{s:form.name(name: 'fluidcontent.{content}.name')}" label="Name" class="form-control" value="{content}" />

						<a href="#" class="btn-round btn-round-small repeater-item-remove">
							<i class="material-icons">remove</i>
						</a>
					</div>
				</f:for>
			</div>

			<div class="repeater-item repeater-template depth-2">
				<s:form.field name="{s:form.name(name: 'fluidcontent.--id--.name')}" label="Name" value="" />

				<a href="#" class="btn-round btn-round-small repeater-item-remove">
					<i class="material-icons">remove</i>
				</a>
			</div>
		</div>
	</s:form.field>

	<s:form.field name="{s:form.name(name: 'fluidbackend')}" label="Use fluidbackend" value="{component.fluidbackendActive}" >
		<div class="form-sub repeater">
			<div class="repeater-items">
				<f:for each="{component.fluidbackend}" as="backend">
					<div class="repeater-item depth-2">
						<div class="repeater-reference-data" data-namespace="{s:form.name(name: 'fluidbackend.{backend}')}">
							<input type="hidden" name="{s:form.name(name: 'name')}" value="{backend}" />
						</div>
						<s:form.field name="{s:form.name(name: 'fluidbackend.{backend}.name')}" label="Name" class="form-control" value="{backend}" />

						<a href="#" class="btn-round btn-round-small repeater-item-remove">
							<i class="material-icons">remove</i>
						</a>
					</div>
				</f:for>
			</div>

			<div class="repeater-item repeater-template depth-2">
				<s:form.field name="{s:form.name(name: 'fluidbackend.--id--.name')}" label="Name" value="" />

				<a href="#" class="btn-round btn-round-small repeater-item-remove">
					<i class="material-icons">remove</i>
				</a>
			</div>
		</div>
	</s:form.field>
	<!-- <s:form.field name="{s:form.name(name: 'vhs')}" label="Use vhs" value="{component.vhsActive}" control="checkbox"/> -->
</f:render>
