<f:layout name="Default" />

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<base href="/" />

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="Components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="Components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="Components/roboto-fontface/css/roboto-fontface.css">
	<link rel="stylesheet" href="Components/multiselect/css/multi-select.css">
	<link rel="stylesheet" href="Styles/Main.css" />

	<script src="Components/jquery/dist/jquery.min.js"></script>
	<script src="Components/jquery-ui/ui/widget.js"></script>
	<script src="Components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="Components/matchHeight/jquery.matchheight.js"></script>
	<script src="Components/multiselect/js/jquery.multi-select.js"></script>
	<script src="Scripts/CardExpandable.js"></script>
	<script src="Scripts/Repeater.js"></script>
	<script src="Scripts/Main.js"></script>
</head>
<body>
	<div class="container">
		<f:render section="Main" />
	</div>
</body>
</html>